body{
    background-image:url(../images/marvolt.png);
    background-size: 800px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;


}


#lembrete{
    float:right; 
    margin-top:600px;
    margin-right:50px;
    font-size:50px;
    animation: lembrete 0.2s  infinite alternate;
    
}

@keyframes lembrete{
    0%{
        transform: translateX(20px);
    }
    50%{
        transform: translateX(17px);
    }
    100%{
        transform: translateX(20px);
    }
}