* {

	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica neue", sans-serif;
	text-decoration: none;
	
}

@font-face {
    font-family:'sublima';
    src: url(../fonts/Sublima-ExtraBold.otf) format('opentype');
    font-style:normal;
}

:root {
	--yellow: rgba(252, 172, 44);
	--black: #373737;
	--title_card:rgba(64,64,64,1);
	--menu: #f1f1f1;
    --bordar:#cdcdcd ;
}


button{
	border: 0px;
}
/*desktop*/
@media screen and (min-width:1000px) {
	input[type=text] {
		width: 700px;
	    
	}
	.input-pesquisa .cx-pesquisa{
	
	}

	/*texto central topo*/
	.top-1-1 .texto-top-1 {
		width: 90%;
	}

	.contato-container {
		display: flex;

	}

	#container-footer {
		height: 50%;

	}

	.logo-marvolt {
		position: absolute;
		top: 40px;
	
	}
	.logo-marvolt img {
		width: 150px;
		
	
	}
	#bloco-desc-prod .bloco-1{
		width: 500px;
	}

	#bloco-desc-prod .bloco-2 {
		
	   padding-left: 30px;
	
	}
	#about-carousel{
		width: 80%;
	}
	#about-carousel .card {
	
		height: 420px;
	}

	#about-carousel-prod .card {

		height: 385px;
	}

	#about-carousel-prod .card .add-carrinho {


	}
	#bloco-desc-prod .bloco-1{
		padding: 20px;
	}
	.about-card {

		padding: 50px;
	  
	 }

	 /*center-fornecedores*/
		#fornecedor-1 {
		width: 70%;

		}
	#fornecedor-1 .card img {
	padding: 40px;

}
.baner-categoria{
	max-width: 80%;
}
.baner-categoria img{
width: 100;
}

/* card princiapl */
.card-diversos .card {

	width: 240px;

}
.menu-mobile{
	display: none;
}
		

#bloco-desc-prod .bloco-1{

width: 50%;


}

#bloco-desc-prod .bloco-2 {

width: 50%;

}
	
/* nenu desktop*/
.nav-menu {
	width: auto;
	margin: 0 auto;
}

.nav-menu ul {
	list-style: none;
	text-decoration: none;

}

.nav-menu ul li {
	display: inline;
	float: left;
	padding: 5px 20px;
	position: relative;


}

.nav-menu ul li a {
	display: block;
	color: white;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.1s ease-out;
	padding: 0px;
	text-transform: uppercase;
	


}


.nav-menu ul li a:hover {
	text-decoration: none;
	color: var(--yellow);
}

.nav-menu ul li ul {
	display: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 30px;
	left: 10;
	border-radius: 2px;
	padding-left: 5px;
	width: 150%;
	border-top-right-radius: 10px;
	box-shadow: 0px 0px 10px 0px;
	background-color: white;
	z-index: 2;
}


.nav-menu ul li ul li {

	width: 100%;
	padding: 7px 5px;
}

.nav-menu ul li ul li a {
	color: black;
	font-size: 90%;
	
}

.nav-menu ul li:hover ul,
li.over ul {
	display: block;

}

.nav-menu ul li ul li a:hover {

	color: var(--yellow);

}
.menu_filtro{
	display: none;
}

/* carrinho */
.erro_404{
	width: 25vw;
}


.bloco-carrinho .blco-produto{
	
	width: 55vw;
}

.bloco-carrinho .fechar-pedido{

	width: 210px;
	
}

.bloco-carrinho .img-login{
	width: 20vw;
	
}

.bloco-carrinho .img-carrinho-vazio{
	width: 20vw;

}
.bloco-carrinho-fechar .img-carrinho-vazio{
	width: 20vw;

}
#email .container .button_enivar{
	width: 100px;
}
.grou-fechar-pedido .fechar-pedido{
	width: 27%;

}
.bloco-carrinho-fechar{
	max-width: 800px;

}
.tabcontent .form .form-column{
	
	width: 50%;
}

}



/*celular*/
@media screen and (max-width:1000px) {
	input[type=text] {
		width: 200px;
		
	}

	/*texto central topo*/
	.top-1-1 .texto-top-1 {
		width: 100%;
	}

	/*logo*/
	.top-1-1 .logo-marvolt {
		margin: 0 auto;
	}


	.contato-left img {
		margin: 0 auto;
	}

	.vendas {
		text-align: center;
	}

	.financeiro {
		text-align: center;
	}

	.contato-email {
		text-align: center;
	}
	.logo-marvolt {
	
		top: 70px;
		margin-left: 10px;
		margin-right: 0px;
	
	}
	.logo-marvolt img {
		width: 50px;
		margin-right: 0%;
	}

	.carrinho-compras i {
	
		margin-right: 22px;
	
	}
	
	#bloco-desc-prod .bloco-2 {
		margin-top: 5%;
	}
	#about-carousel{
		width: 100%;
	}
	#about-carousel .card {
		height: 420px;
	}

	#about-carousel-prod .card {
		height: 385px;
	}

	#about-carousel-prod .card .add-carrinho {
		top:330px;
	}

	#fornecedor-1 .card img {
		padding: 20px;
	}

	#email .container {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	}
	
	#email .container input{
	display: block;
	}

	#email .container button{
		margin: 0 auto;
		display: block;
		margin-top: 10px;
	}
	
	.baner-categoria img{
	
		width: 100%;
		
	}
	/* card princiapl */
	.card-diversos .card {

		width: 170px;

	}
	#bloco-desc-prod .bloco-1{
		width: 100%;
	}

	#bloco .bloco-1{
display: none;
	}
	.produto-carrinho .bloco-informacao{
		
		width:230px;
		}

	/* menu celular
*/
#abrir_menu_mobile{
	background:none;
	font-size: 1.3em;
	margin-left: 10px;
	cursor: pointer;
	position: absolute;
	
}
	

	.menu-mobile{
		position: fixed;
		z-index: 8;
		top: 15px;
		left: 10px;


	}



	.menu-mobile .nav-mobile {
		width:60vw;
		background-color: white;
		height: 100vh;
		z-index: 6;
		transition: 0.3s all ease-in-out;
		margin-left: 0px;
		left: -60vw;
		top: 0px;
		position: fixed;
		transition: all  0.3s ease-in-out;

	}

	.menu-mobile  input[type="checkbox"]:checked ~ nav{
		height: 100%;
		opacity: 1;
		display: block;
	}
		
	.menu-mobile  ul {
		list-style: none;
		text-decoration: none;

		padding-left: 0px;
		

	}


	.menu-mobile ul li {
		display: block;
		padding: 0px;
		position: relative;
		cursor: pointer;
		padding-left: 0px;
		padding-right: 0px;

	
	}
	.menu-mobile ul li .linha i{
		color: #acacac;
		font-size: 0.8em;
		transform:rotate(180deg) ;
		position: absolute;
		right: 5px;
		top: 10px;

	}

	.menu-mobile ul li:hover i{
		transform:rotate(0deg) ;
	}
	


	.menu-mobile ul li .linha {
		display: block;
		border-bottom: 0.2px solid #eaeaea;
		padding: 10px;
		position: relative;
	}
	.menu-mobile ul li a {
	
		font-weight: 500;
		text-decoration: none;
		transition: all 0.1s ease-out;
		margin-left: 5px;
		color:#515151;
		padding: 0px;
	
		
	}

	.menu-mobile ul li a:hover {
		text-decoration: none;
		color: var(--yellow);
	
	}

	.menu-mobile ul li ul {
		display: none;
		padding: 0px;
		margin: 0px;
		top: 30px;
		left: 10;
		z-index: 2;
		background-color: #f9f9f9;
	}


	.menu-mobile ul li ul li {
    width: 100%;
    padding: 0px 10px;
    color: rgb(85, 84, 84);

		
	}
	
	.menu-mobile ul li ul li a {
		color: rgb(105, 105, 105);
		font-size: 90%;
		
	}

	.menu-mobile ul li:hover ul,
	li.over ul {
		display: block;
	}

	.menu-mobile ul li ul li a:hover {

		color: var(--yellow);
	}
	.nav-menu{
		display: none;
	}
	
	.nav-mobile .titulo{
		background-color: var(--yellow);
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 5px;
		margin-bottom: 0px;
		display: flex;
		flex-wrap: wrap;
		
	}
	.nav-mobile .titulo i{
		margin-top: 5px;
		margin-left: 5px;
	}

	.menu-mobile .nav-mobile button{
		background: none;
		position: absolute;
		right: 20px;
		padding: 0px;
		top: 20px;
		border: 0px solid;
		
	}
	.nav-mobile .titulo p{
		font-size: 1.1em;
		font-weight: 500;
		padding: 0px;
		margin-bottom: 0px;
	}

/* filtro menu */
.menu_filtro{
text-transform: none;
margin-bottom: 20px;

}

#abrir_filtro{
	position:relative;
}


.menu_filtro  input[type="checkbox"]:checked ~ nav{
	left:0vw;
}

.menu_filtro button{
	display: flex;
	flex-wrap: wrap;
	width:fit-content;
	padding: 10px;
	background: none;
	border: 0px;

}
.menu_filtro button p{
	margin-left: 5px;
	color: #878787;
}

.menu_filtro nav{

width: 50vw;
height: 100vh;
top: 0;
background-color: white;
position:fixed;
left: -50vw;
transition: all 0.3s ease-in-out;
z-index: 8;
overflow: auto;
}
.menu_filtro .filtro{
	display: flex;
	flex-wrap: wrap;
}
.menu_filtro .titulo{
border-bottom: 1px solid #acacac;
padding: 10px;
display: flex;
font-size: 1.2em;
flex-wrap: wrap;
}

.menu_filtro .titulo p{
	padding: 0px;
color:#585858;
	margin: 0px;
	font-size: 1.1em;
	
}


.menu_filtro .titulo i{
	font-size: 0.9em;
	margin-left: 10px;
	padding: 0px;
	margin-top: 10px;
	color:#808080;

}


.menu_filtro .titulo button{
	width:fit-content;

}
.menu_filtro .titulo  button{
	color: black;
	position: absolute;
	right: 10px;
	top:0
}

.menu_filtro ul{
 padding: 10px;

}

.menu_filtro ul p{
	color:#a0a0a0;
	font-weight: 600;
	font-size: 1.0em;
}

.menu_filtro ul li p{
	color: #898989;
	font-size: 0.85em;
	padding:5px 0px;
	margin: 0px;
	
}
.menu_filtro ul hr{
	margin: 0px;
	padding: 0px;
}
.menu_filtro ul li{
	display: flex;
	flex-wrap: wrap;

}
.menu_filtro ul li .categoria{

	margin-bottom: 0px;
	color: #797979;
	font-size: 1.1em;
}
.menu_filtro ul li p:hover{
	color: var(--yellow);
}
.menu_filtro ul li .qtd{
	position: absolute;
	right: 10px;
}

.menu_filtro ul ul {


 padding-top: 0px;
 padding-bottom: 0px;
}

.menu_filtro ul li ul li {
width: 100%;


}

.menu_filtro ul li ul li a {
color: rgb(55, 55, 55);
font-size: 100%;
padding: 5px;
display: block;
}


.menu_filtro ul li ul li a:hover {

color: var(--yellow);
}

/* carrinho */
.erro_404{
	width: 60vw;
	
}

.bloco-carrinho .fechar-pedido{
	width: 100%;
	display: block;
}

.bloco-carrinho .img-login{
	width: 60vw;
	
}

.top-1-1 .logo-marvolt-top-1{
	display: none;
}

#email .container .button_enivar{
	width: 100%;
}

.grou-fechar-pedido .fechar-pedido{
	display: block;
	width: 100%;
}

.produto-carrinho-fechar .blco-produto .bloco-informacao{
	width: 220px;
}


}




.container {
	width: 100%;
	height: 100%;

}

.bloco-central {

	padding-bottom: 20px;
	margin: 0 auto;
	padding-top:50px;
	min-height: 500px;

}


.top-1-1 {
	background-color:var(--yellow);
	position:fixed;
	width: 100%;
	z-index: 3;

}


.logo-marvolt-top-1 img {
	width: 70px;
	border: 0px;


}

.top-1-1 .logo-marvolt-top-1 {
	grid-area: left;
	border: 0px;
	margin-left: 60px;

}


.top-1-1-1 {
	display: flex;
	flex-direction: 0 0 auto;
	margin: 0 auto;
	max-width: 1300px;
	
	

}




.menu-cliente {
	width: 100%;
	padding: 0px 10px; 
	
    

}

.dp-cliente{
	float:right;
	margin-top: 15px;
	cursor: pointer;
}
.menu-cliente .dp-cliente ul{
	list-style-type: none;
	padding: 0;
	position: relative;

}

.menu-cliente .dp-cliente ul li{
	list-style-type: none;
	padding: 0;


}
/* submenu */
.menu-cliente .dp-cliente ul ul{
	display: none;
	position: absolute;
	padding: 5px;
	right: 10px;
	background-color: white;
	border-top-left-radius: 10px ;

	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);

}

.menu-cliente .dp-cliente ul li a{
color: #373737;
font-weight: 600;

}
.menu-cliente .dp-cliente ul ul li a{
	font-size: 1.1em;
	padding: 0px;
	font-weight: 600;
	color: #5a5a5a;
	display: block;
}
.menu-cliente .dp-cliente ul li:hover ul{
	display: block;

}
.menu-cliente .dp-cliente ul ul li{
	display: block;
	padding: 5px;
	width:150px;
	
}

/*texto central*/
.top-1-1 .texto-top-1 {
	grid-area: right;


}

.texto-top-1 h4 {
	text-align: start;
	font-size: 15px;
	font-weight: 500;
	color: white;
	margin-top: 17px;
	float: right;
border-right: 1px solid;
	padding-right: 5px;
	margin-right:5px;

}

/*top-pesquisa*/
.top-1-2 {
	background-color: rgba(252, 172, 30);
	padding: 75px 0% 1%;


}

.logo-marvolt-top-1{
	border: 1px solid;
}

.top-1-1-2 {
	display: flex;
	flex-wrap: wrap;

	margin: 0 auto;
	padding: 10px 0px;
   max-width: 1300px;
  
}

.top-1-1-2 .input-pesquisa {
	margin: 0 auto;
	
}


.input-pesquisa .cx-pesquisa{
	outline: none;
	height: 40px;
	border: none;
	border-radius: 3px;
     
	margin-right: -5px;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	background-color: white;
  padding-left:10px;

}

.img-pesquisar{
	color: #acacac;


}
.fa-magnifying-glass{
	position:relative;
}

.top-1-1-2 input[type=text] {
border: 0px ;
height: 40px;

}

.top-1-1-2 input[type=text]:focus{
	outline: none;
}

/*botao para contato*/
.input-pesquisa button {
	height: 35px;
	width: 50px;
	border: none;
	background-color: white;
	background-color: none;


}

.input-pesquisa i {
	font-size: 18px;
}

.carrinho-compras{
	position: relative;
}
.carrinho-compras .qtd-carrinho{
	position:absolute;
	top:7px;
	color:aliceblue;
	left: 13px;
}
.carrinho-compras i {
	font-size: 28px;
	margin-top: 7px;
	color:  rgb(83, 82, 82);
	
}

/*top nav mnenu*/

.top-1-3 {
	background-color: rgb(83, 82, 82);
	padding: 0% 0% 0%;
     position: relative;

}

.top-1-1-3 {
	display: flex;
	flex-direction: 0 0 auto;
	flex-wrap: wrap;
	padding: 2px 0px;
	
}



/*center-fornecedores*/
#fornecedor-1 {
	margin: 20px auto;
	max-width: 1300px;

}


#about-carousel-fornecedor .about-carousel {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 100px;
	cursor: pointer;
	

}

#about-carousel-fornecedor {

	margin: 0 auto;
	width: 90%;


}



/*center card*/
#fornecedor-1 .item{
	
	height: 230px;

}

#fornecedor-1 .card {
	
	height:100%;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-items: center;
	animation: moveToleft 0.7s 1s forwards;
	


}

#fornecedor-1 .card .content {

	height: 100%;

	padding: 0px;
}
#fornecedor-1 .card .content img{

	width: 100%;
	height: 100%;


	
}


/*center-destaques*/

.row a{
text-decoration: none;
}
#center-1 {
	background-color: white;
	padding: 5px 0px;
    max-width: 1300px;
	margin:0 auto;
   
}


.texto-center {

	margin: 0 auto;
	margin-bottom: 70px;


}

.texto-center h3 {
	text-align: center;
	font-weight: 700;
}
.texto-center .linha{
   border: 1px solid var(--yellow);
   background-color: var(--yellow);
   border-radius: 25px;
   text-align:center ;
   margin: 0 auto;
   width: 50px;
	}


/*card destaque*/
/* card carousel */

.about-carousel {
	width: 100%;
	margin: 0 auto;
	cursor: pointer;
	margin: 0 auto;
	
}


#about-carousel .card {
	position: relative;
	border-radius: 1px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	justify-items: center;
	animation: moveToleft 0.7s 1s forwards;
	border: 1px solid #c2c1c1;
	border-radius: 5px;
	padding-left: 0px;
	padding-right: 0px;
	transition: 0.2s all ease-in-out;
}

#about-carousel .card:hover {
	-webkit-box-shadow: 0px 0px 24px -7px rgba(149, 149, 149, 0.44);
	-moz-box-shadow: 0px 0px 24px -7px rgba(149, 149, 149, 0.44);
	box-shadow: 0px 0px 24px -7px rgba(149, 149, 149, 0.44);
}

#about-carousel .header{
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	padding: 40px;
	border-bottom: 1px solid #eeeeee;
}

#about-carousel  .card .content img {
	max-width: 100%;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	}
#about-carousel .card .content{
	padding: 0px;
}
#about-carousel .card .content img {
	max-width: 90%;
	width: 90%;
	height: 100%;

}

#about-carousel .destaque-card-titulo{
	margin: 0px;
	width: 100%;
	padding: 0px;
	height:70px;
	max-height: 70px;
	
}
#about-carousel .destaque-card-titulo a{
	color: #373737;
	font-weight: 600;
	font-size: 0.95em;
	
   }

#about-carousel  .card p {
	text-align: start;
}
#about-carousel .info{
	margin: 0px;
	padding: 5px;
}


#about-carousel .info ul{
	height: 110px;
	max-height: 110px;
	margin-bottom: 0px;
	
	}

#about-carousel .info ul li{
	margin-bottom: 0px;
	padding: 1px;
	padding-right: 5px;
}
#about-carousel .info ul li p{
	padding: 0px;
	margin: 0px;
	color: #737373;
	font-weight: 600;
	font-size: 0.9em;
}

#about-carousel .owl-dots{
	display: none;
}

#about-carousel .owl-dots button{
	display: none;
	border: 1px solid;
}
.card-footer{
margin-top: 0px;
text-align: center;
background-color: var(--yellow);
border-radius: 2px;
}
	




.fabricante{
	position: absolute;
	top: 290px;
}

#about-carousel.card-diversos a{
	text-decoration: none;
}





/* From uiverse.io */

/* .contato-center {
	width: 150px;
	text-align: center padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing:2.5px;about-about-card
	font-weight:500;
	color:var(--yellow);
	background-color: #fff;
	border:none;
	border-radius:45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;

}

.contato-center:hover {
	background-color: var(--black);
	box-shadow: 0px 15px 20px var(--yellow);
	color: #fff;
	transform: translateY(-7px);
}

.contato-center:active {
	transform: translateY(-1px);
}
 */


#center-2 {
	
	background-color: white;
	padding: 20px 0px;
    max-width: 1100px;
	margin:0 auto;
	

}

.center2-2 {
	


padding: 0px;


}

.about-card {
	display: flex;
   flex-wrap: wrap;
   margin: 0px auto;
   padding: 0px;
   justify-content: center;
   align-items: center;


 
}

/* card princiapl */
.card-diversos .card {
position: relative;

height: 410px;
border-radius: 1px;
background: rgba(255, 255, 255, 0.1);
overflow: hidden;
justify-items: center;
animation: moveToleft 0.7s 1s forwards;
border: 1px solid #c2c1c1;
border-radius: 5px;
margin: 0px 10px 10px;
padding-left: 0px;
padding-right: 0px;
transition: 0.2s all ease-in-out;
}

.card-diversos .card:hover {
-webkit-box-shadow: 0px 0px 24px -7px rgba(149, 149, 149, 0.44);
-moz-box-shadow: 0px 0px 24px -7px rgba(149, 149, 149, 0.44);
box-shadow: 0px 0px 24px -7px rgba(149, 149, 149, 0.44);
}


.card-diversos .card .content .header{
width: 100%;
height: 200px;
overflow: hidden;
position: relative;
padding: 40px;
border-bottom: 1px solid #eeeeee;
}

.card-diversos .card .content{
	padding: 0px;
}
.card-diversos .card .content img {
max-width: 100%;
width: 90%;
height: 100%;
margin: 0 auto;

}

.card-diversos .destaque-card-titulo{
	
	margin: 0px;
	width: 100%;
	padding: 0px;
	height:70px;

	max-height: 70px;
}

.card-diversos .destaque-card-titulo a{
 color: #373737;
 font-weight: 600;
 font-size: 0.95em;

}

.card-diversos .card p {
	text-align: start;
}

.card-diversos .info{
	margin: 0px;
	padding: 5px;
}

.card-diversos .info ul{
height: 110px;
max-height: 100px;
margin-bottom: 0px;

}

.card-diversos .info ul li p{
	padding: 0px;
	margin: 0px;
	color: #737373;
	font-weight: 600;
	font-size: 0.9em;
}


.card-footer{
margin-top: 0px;
text-align: center;
background-color: var(--yellow);
border-radius: 2px;
}

.add-carrinho {
	padding: 5px;
color: white;
font-weight: 500;
text-shadow: black 0.5px 0.3px;
	font-size: 90%;
	text-decoration: none;
	display: block;
}

.add-carrinho:hover {

color: white;
font-weight: 500;
text-shadow: black 0.5px 0.3px;

}
.add-carrinho i {
	font-size: 15px;
	transition: all 0.1s ease-out;
}


.icone-cotacao i {
	text-align: center;
	font-size: 20px;
	color: green;
	transition: all 0.1s ease-out;
}

.icone-cotacao i:hover {
	color: var(--yellow);
	font-size: 25px;
}


/*area contao*/
#section-contato {
	background: rgba(252, 172, 44, 1);
	padding: 70px 0px 0px 0px;
}

.about-contato{
   
	max-width: 1300px;
	margin:0 auto;
}
.contato-container {
	position: relative;
	width: 100%;
	margin: 0 auto;


}

.contato-left {
	display: grid;
	padding: 0px 20px;

}

.contato-left img {

	filter: drop-shadow(0px 0px 300px);
	color: black;

	width: 200px;




}

.vendas {
	grid-area: right;
	padding: 0px 20px;
	margin: 0 auto;
	padding-bottom: 50px;

}

.financeiro {
	grid-area: right;
	padding: 0px 20px;
	margin: 0 auto;
	padding-bottom: 50px;

}

/*separador de div*/
.spr {
	border-bottom: 1px solid white;
	margin-top: 15px;
	margin-bottom: 10px;

}

.vendas p {
	font-size: 14px;
	margin-bottom: 5px;
	font-weight: 500;
}

.financeiro p {
	font-size: 14px;
	margin-bottom: 5px;
	font-weight: 500;
}

#title-cotanto p {
	font-size: 20px;
}

.group-resumo {
	width: 280px;
	grid-area: right;
	padding: 0px 20px;
	margin: 0 auto;
	padding-bottom: 80px;

}

.contato-email {
	grid-area: right;
	padding: 0px 20px;
	margin: 0 auto;
	padding-bottom: 50px;


}

.contato-email p {
	font-size: 14px;
	margin-bottom: 5px;
	font-weight: 500;

}

.contato-maps {
	width: 300px;
	grid-area: right;
	padding-right: 50px;
	margin: 0 auto;
	height: 210px;

}

.resumo p {
	text-align: justify;
}

.group-resumo .maps {
	margin-top: 20px;
}

.group-resumo .maps a {

	text-align: center;
	padding: 7px 100px;
	border-radius: 100px;
	margin-top: 50px;
	text-decoration: none;
	color: white;
	background-color: #05131a;
	transition: all 0.2s ease-out;
	font-weight: 600;
}

.group-resumo .maps a:hover {
	background-color: white;
	color: black;
}

.footer {
	text-align: center;
	margin-top: 10px;
	padding: 5px;
	background: rgba(270, 179, 50, 1);

}

.footer p {
	margin-bottom: 1px;
	font-size: 12px;
	font-weight: 500;
}


/*categoria*/

#bloco{

	max-width: 1300px;
	margin: 0 auto;
	
	
	
}


#bloco .container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0px;

}

#bloco .bloco-1{
width: 220px;
padding-top: 10px;
height: 300px;
overflow-y: scroll;
color: #373737;

}


#bloco .bloco-1::-webkit-scrollbar {
width: 7px;               /* width of the entire scrollbar */
}

#bloco .bloco-1::-webkit-scrollbar-track {
background: white;        /* color of the tracking area */
}

#bloco .bloco-1::-webkit-scrollbar-thumb {
background-color: var(--black);    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}



#bloco .bloco-1 table .linha-categoria{
	border-top: 1px solid #e6e6e6;
	padding: 10px;
	margin-top: 10px;

}

#bloco .bloco-1 a {
	text-decoration: none;
	color: #5a5a5a;
	transition: all 0.15s ease-out;
}


#bloco .bloco-1 a:hover{
	color: var(--yellow);

}

#bloco .bloco-1 p{
font-size: 12px;
font-weight: 500;
}

#bloco .bloco-1 .bloco-1-1-s{
	margin-left: 5px;
	color: #7a7a7a;
}

#bloco .bloco-2{
	width: 1070px;
	align-items: center;
	justify-content: center;
 	padding:0px 0px;

}


#bloco .tile-bloco{
	font-weight: 600;
	color:var(--yellow);
}
#bloco table{
	width: 100%;
}
#bloco td{
	text-transform: uppercase;
}

.msg-alert{
	margin: 0 auto;
	padding:60px;
	position: relative;



}
.msg-alert img{
 text-align: center;
 display: block;

	
}
.msg-alert p {
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-top: 10px;
	font-weight: 600;
	font-size: 17px;
	color:#acacac;
	position: absolute;
	left: 0px;


}

hr::after{
		display: inline-block;
		position: relative;
		top: -0.7em;
		font-size: 1.4em;
		padding: 0 0.3em;
		background: white;

}
/* tela do produto -- contem as informações dos produtos */
.historico-aba{
	border: 1px solid;
}
#bloco-desc-prod{
	max-width: 1100px;
	margin: 0 auto;

	
	
}


#bloco-desc-prod .container{
	display: flex;
	flex-wrap: wrap;  
	width: 100%;
  padding-top: 20px;

}

#bloco-desc-prod .bloco-1{

text-align: center;
height: 300px;
border: 1px solid #e7e7e7;


}

#bloco-desc-prod .bloco-1 img{

	margin: 0 auto;
	height: 250px;
	

}

#bloco-desc-prod .bloco-2 {

	

}

#bloco-desc-prod .bloco-2 .titulo {
	margin-bottom: 18px;
	font-size: 24px;
	text-transform: uppercase;

}
#bloco-desc-prod .bloco-2 .titulo p{
	font-weight: 700;
}
#bloco-desc-prod .bloco-2 .info{
	padding: 0px;
	font-size: 14px;
	color: #5a5a5a;
	height: auto;
	margin-bottom: 30px;

}
#bloco-desc-prod .bloco-2 .info ul{
	list-style: none;

}
#bloco-desc-prod .bloco-2 .info ul li{
position: relative;
display: list-item;

}
#bloco-desc-prod .bloco-2 .info ul li p{
margin-bottom: 5px;
color: #878787;
font-weight: 600;
}
#bloco-desc-prod .bloco-2 a{
	
	width:fit-content;
	min-width: 170px;
	text-align: center;
	padding: 7px;
  margin-top: 20px;
  border-radius: 3px;
	background-color:var(--yellow) ;
	color: rgb(247, 247, 247);
	font-weight: 500;
 	text-shadow: black 0.5px 0.3px; 


}



#bloco-desc-prod .bloco-2 .desc{
	padding: 0px;
	font-size: 14px;
	color: #5a5a5a;

	margin-bottom: 30px;
	margin-top: 40px;

   
}

.container-3{

	display: block;
	max-width: 1100px;
    margin-top: 30px;
   padding-left: 0px;
   

   margin-bottom: 60px;
 
}

#bloco-desc-prod .titulo-prod h3{ 
	font-weight: 700;
	font-size: 1.3em;
	color: #515151;

}

#about-carousel-prod {
	width: 100%;
	margin-bottom: 50px;
	margin-left: 0px;
	padding-right: 0px;
}

/* card produtos relacionados */
/*center card*/
#about-carousel-prod .card {
	position: relative;

	border-radius: 1px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	justify-items: center;
	animation: moveToleft 0.7s 1s forwards;
	border: 1px solid #c2c1c1;
	border-radius: 5px;
	padding-left: 0px;
	padding-right: 0px;
	transition: 0.2s all ease-in-out;
}

#about-carousel-prod .card:hover {
-webkit-box-shadow: 0px 0px 24px -7px rgba(149, 149, 149, 0.44);
-moz-box-shadow: 0px 0px 24px -7px rgba(149, 149, 149, 0.44);
box-shadow: 0px 0px 24px -7px rgba(149, 149, 149, 0.44);
}
	
#about-carousel-prod .card .content .header{
width: 100%;
height: 170px;
overflow: hidden;
position: relative;
padding: 40px;
border-bottom: 1px solid #eeeeee;
}




#about-carousel-prod .card .content img {
	max-width: 90%;
	width: 90%;
	height: 100%;

	}

#about-carousel-prod .info{
	margin: 0px;
	padding: 5px;
	height:max-content;
}
	
#about-carousel-prod  .destaque-card-titulo{
	margin: 0px;
	width: 100%;
	padding: 0px;
	height:70px;
	max-height: 70px;
}

#about-carousel-prod  .destaque-card-titulo a{
	color: #373737;
	font-weight: 600;
	font-size: 0.90em;
   }
#about-carousel-prod  .card p {
	text-align: start;
}

#about-carousel-prod .info ul{
height: 110px;
max-height: 110px;
margin-bottom: 0px;


}

#about-carousel-prod .info ul li p{
	padding: 0px;
	margin: 0px;
	color: #737373;
	font-weight: 600;
	font-size: 0.85em;
}


#about-carousel-prod .card .titulo a{
	color: rgba(64,64,64,1);
}

.card-footer{
margin-top: 0px;
text-align: center;
background-color: var(--yellow);
border-radius: 2px;
}

#about-carousel-prod .add-carrinho {

	padding: 3px;
	color: white;
	font-weight: 500;
	text-shadow: black 0.5px 0.3px;
	text-decoration: none;
	display: block;
}
#about-carousel-prod .add-carrinho i {
	font-size: 15px;
	transition: all 0.1s ease-out;

}



.container-2{
	margin-top: 100px;
	
}

.container-2 .descricao-prod{
	padding-bottom: 50px;
	font-size:1em ;
	color: #747474;
	


}

/* mapa  */
.breadcrumb{
	background-color: white;
}

.breadcrumb li{
	font-size: 12px;
}

.breadcrumb li a{
	text-decoration: none;
	color: #acacac;
}

/* 
categoria inicial tele incial */
/* //baner tela incial */
#categoria-incial{
	background-color: white;
	padding: 5px 0px;
    max-width: 1300px;
	margin:0 auto;
}
.baner-1{
	background-color: white;

    max-width: 1300px;
	margin:0 auto;
}
.baner-2{
	background-color: white;
    max-width: 1300px;
	margin:0 auto;
}
.baner-categoria{
	padding: 0px;

	margin: 50px auto;
	border-radius: 5px;
}

.baner-categoria img{
	border-radius: 5px;
	margin: 0 auto;
}

/* email tela incial */
#email{
	border: 1px solid;
	margin-bottom: 0px;
	padding: 20px;
	background-color: #373737;
	margin-bottom: 5px;
	
}
#email .container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

}
#email .container .titulo{

	padding: 10px;


	
}
#email .container .titulo p{
	font-size:20px;
	font-weight: 600;
	color: white;
	margin-bottom: 0px;

}
#email .container input[type=text] {
	width: 100px;
	margin: 0 auto;
	border: 1px solid #acacac;
	border-radius: 5px;
	width: 300px;
	padding: 7px;
	padding-left:15px;
	margin-bottom: 10px;
}
#email .container input:focus{
	outline: none;
}

#email .container .formulario{
	margin: 0 auto;
		padding: 10px;
}
#email .container .button_enivar{

 border-radius: 5px;
 background-color: rgb(43, 169, 62);
 color: white;
 font-weight: 600;
 text-transform:uppercase;
 border: 0px;
 font-size: 0.8em;
 transition:all 0.1s ease-in-out ;
 padding: 10px;
}

#email .container .button_enivar:hover{
	transform: scale(1.02);

}


#voltar-incio{
	background-color: #373737;
 padding: 8px;
	text-align: center;
	margin-top: 50px;
}
#voltar-incio a {

	display: block;
	width:fit-content;
	margin: 0 auto;
}
#voltar-incio p{
	color:#e6e6e6 ;
	font-weight: 600;

	margin: 0px;
	width:fit-content;
	font-size:1.1em;

}
/* botao voltar */
.back{
	float:right;
}
.back i{
	color: var(--yellow);
	font-size: 1.2em;

}

.back a{
	color:#6d6d6d;
	font-size: 1.2em;
	font-weight: 500;
	text-decoration: none;
}

.breadcrumb > li + li::before{
	content: ">";
	padding: 2px;
}

#bloco-desc-prod {
	margin-bottom:50px;
	
}
#bloco-desc-prod .container-4{
	
	margin-top: 100px;

}
#bloco-desc-prod .container-4 .titulo-prod{
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
}
#bloco-desc-prod .container-4 .titulo-prod h3{
	margin-right: 20px;
	
	margin-bottom: 2px;
	margin-top: 0px;
}

#bloco-desc-prod .container-4 .titulo-prod i{
	font-family: "Proxima Nova","Verdana","Avenir Next";
font-size: 0.9em;
	margin-bottom: 0px;
	
}
#bloco-desc-prod .container-4 .comentario{
	
	margin-top: 20px;
}
#bloco-desc-prod .container-4 .usuario{
	display: flex;
	flex-wrap: wrap;
}
#bloco-desc-prod .container-4 .usuario .img{
	
	
}
#bloco-desc-prod .container-4 .usuario img{
	clip-path: circle(50% at 50% 50%);
	width:50px;

}

#bloco-desc-prod .container-4 .usuario .bloco-right{
	margin-left: 5px;

	display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
#bloco-desc-prod .container-4 .usuario .bloco-right p{
font-weight: 550;
color: #8d8d8d;
margin-bottom: 1px;
}
#bloco-desc-prod .container-4  .palavra_chave{
	
	margin-top: 3px;
	margin-bottom: 0px;


}
#bloco-desc-prod .container-4  .palavra_chave p{
	font-weight: 600;
	font-size: 1.0em;
	margin:0px;


}
.texto{
	color: #686868;
	margin-top: 1px;
	width: 70%;
	
}
.texto p{
	font-size: 0.8em;
}
#bloco-desc-prod .container-4 ul{
	list-style: none;
}
#bloco-desc-prod .container-4 ul li{
	margin-bottom: 35px;
}

/* area da categoria menu inicial */

#center-3 {
	
	background-color: white;

    max-width: 1300px;
	margin:0 auto;
   margin-top: 60px;
	
}

.center-3-1{
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;

  
}
.center-3-1 .card-categoria{

	padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center-3-1 .card-categoria .img{

	padding: 10px;
	width: 130px;
	height:130px;
	border-radius: 50%;
	border: 2px solid;
	border-color: var(--yellow);
	padding: 3px;	
	transition: all 0.1s ease-in-out;
	position: relative;

}

.center-3-1 .card-categoria img{
	object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: 0.2s all ease-out;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	opacity: 0.8;
}

.center-3-1 .card-categoria img:hover{
	transform: scale(1.01);
	opacity: 1;
}
.center-3-1 .card-categoria .titulo{
	text-align: center;
	color: #373737;
	font-weight: 600;
	font-size: 1.2em;
	font-family: "Proxima Nova","Verdana","Avenir Next";
}
.avaliacao{
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
}


#bloco-avaliacao{
	max-width: 1300px;
    
	margin: 0 auto;
	position: relative;
}
#bloco-avaliacao .formulario{
	
	max-width: 1000px;
	margin: 0 auto;
	padding: 70px ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	
	
}
#bloco-avaliacao .formulario input{
	margin-bottom: 20px;
	padding: 7px;
	border: 1px solid rgb(202, 202, 202);
	border-radius: 2px;
}
#bloco-avaliacao .formulario textarea{
	margin-bottom: 20px;
	padding: 7px;
	height: 150px;
	width: 100%;
	display: block;
}

#bloco-avaliacao .formulario button{
	padding: 5px;
	display: block;
	width: 100%;
	border-radius: 2px;
	background-color: var(--yellow);
	color: #373737;
	font-weight: 500;
}

#bloco-avaliacao .formulario .titulo{
	display: flex;
	flex-wrap: wrap;
	color: #5a5a5a;
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 10px;
	text-align: center;
}
#bloco-avaliacao .back{
	position: absolute;
	right: 2px;
}

/* cookies */
.box-cookies.hide{
	display: none;
	
}
.box-cookies{
	position:fixed;
	width: 100%;
	bottom: 0px;
	z-index: 6;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	background-color:  #373737;
}
.box-cookies p{
	color: white;
	font-size: 1.05em;
}

.box-cookies .btn-cookies{
	border: 1px solid;
	padding:10px 25px;
	width:fit-content;
	color: var(--yellow);
	float: right;
	cursor: pointer;

}

.teste{
	border: 1px solid;
	max-width: 1300px;
	margin: 0 auto;
}

   /* From uiverse.io by @Clemix37 */
.loader {
	width: 60px;
	height: 60px;
	position:fixed;
	left: 50%; 
	top: 50%;
	z-index: 6;
	animation: 0.1s all ease-in-out;
   }
   
   .loader::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border-top: 2px solid var(--yellow);
	border-right: 2px solid transparent;
	animation: spinner8217 0.8s linear infinite;
   }
   
   @keyframes spinner8217 {
	to {
	 transform: rotate(360deg);
	}
   }


 
/* carrinho */
.erro_404{
	margin: 0 auto;
}

.erro_404 .btn-voltar {
  text-align: center;
}
.erro_404  a{
	width: fit-content;
	background-color: var(--yellow);
	padding: 7px;
	border-radius: 5px;
	color: white;
	font-weight: 500;
	text-decoration: none;
	
}

.produto-carrinho{
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	
}
.bloco-carrinho{
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;

	
}
.bloco-carrinho .titulo-carrinho{
	padding-bottom: 50px;


}
.bloco-carrinho .titulo-carrinho h3{
	font-size: 1.8em;
}
.bloco-carrinho .fechar-pedido{

	height: 100%;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    padding: 10px;
	border-radius: 2px;
	
}

.bloco-carrinho .fechar-pedido a{
display: block;
border-radius: 3px;
background-color: var(--yellow);
text-align: center;
padding: 7px;
color:white ;
margin-bottom:10px ;
font-weight: 600;
transition: 0.3s all ease-in-out;
}

.bloco-carrinho .fechar-pedido a:hover{
	filter: grayscale(5%);
}

.bloco-carrinho .fechar-pedido .cnt_comprando{
	display: block;
	border-radius: 3px;
	background-color: var(--black);
	text-align: center;
	padding:7px;
	color:white ;
	margin-bottom:10px ;
	font-weight: 600;
}



.produto-carrinho ul{
	list-style: none;
}

.blco-produto{

	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 30px;
}

.blco-produto img{
  width: 100px;
  text-align: center;

}
.produto-carrinho .blco-produto a .titulo {
font-weight: 600;
color: #2b2b2b;
}
.produto-carrinho .blco-produto .img-produtos{
padding: 0px 20px;
}

.produto-carrinho .bloco-informacao{
display: flex;
flex-direction: column;
}

.produto-carrinho .bloco-informacao p{
margin: 2px;
}


/*fechar_pedido*/
.grou-fechar-pedido {
	width: 100%;
}
.grou-fechar-pedido form{
max-width: 1100px;
margin: 0 auto;
width: 100%;
display: flex;
flex-wrap: wrap;

}

.bloco-carrinho-fechar{
width: 100%;

	
}

.produto-carrinho-fechar{
max-width: 1100px;
margin: 0 auto;
width: 100%;
display: flex;
flex-wrap: wrap;
}

.bloco-carrinho-fechar .titulo-carrinho-fechar{
padding-bottom: 50px;
}
.bloco-carrinho-fechar .titulo-carrinho-fechar h3{
font-size: 1.8em;
}


.produto-carrinho-fechar  ul{
list-style: none;
}

.produto-carrinho-fechar .blco-produto{
display: flex;
flex-wrap: wrap;
width: 100%;
margin-bottom: 30px;
}

.bloco-carrinho-fechar .blco-produto img{
width: 100px;
text-align: center;
}
.produto-carrinho-fechar .blco-produto a .titulo {
font-weight: 600;
color: #2b2b2b;
}
.produto-carrinho-fechar .blco-produto .img-produtos{
padding: 0px 20px;
  
}

.produto-carrinho-fechar .blco-produto .bloco-informacao{
display: flex;
flex-direction: column;

}

.produto-carrinho-fechar .blco-produto .bloco-informacao p{
	margin: 2px;
}
.produto-carrinho-fechar .blco-produto .bloco-informacao a{
	cursor: pointer;
}
.bloco-carrinho-fechar .dados-pedido hr{
 padding: 0px;
 margin-bottom: 10px;
}
.bloco-carrinho-fechar .dados-pedido .form{
	padding-bottom:50px ;
}
.bloco-carrinho-fechar .dados-pedido  .form-row{
	display: flex;
	flex-wrap: wrap;

}
.bloco-carrinho-fechar .dados-pedido .form .input{
	display: block;

	width:33.3%;
	padding: 5px;
}

.bloco-carrinho-fechar .dados-pedido .form .input label{
	
	font-weight: 400;
}
.bloco-carrinho-fechar .dados-pedido .form .input input,select{
	display: block;
	width: 100%;
	border-radius: 3px;
	padding:5px;
	border: 1px solid var(--bordar);
}
.bloco-carrinho-fechar .dados-pedido .form .input input,select:focus{
	outline: none;
}
.bloco-carrinho-fechar .dados-pedido .titulo{
	font-weight: 500;
	font-size: 1.1em;
	color: #5a5a5a;
}

.grou-fechar-pedido .fechar-pedido{
	padding: 15px;
	border-radius: 2px;

}
.grou-fechar-pedido .dados_empresa hr{
margin: 5px;
padding: 0px;

}

.grou-fechar-pedido .dados_empresa .titulo{

	margin-bottom: 0px;
	font-weight: 500;
}
.grou-fechar-pedido .dados_empresa .inf-empresa p{
	margin-bottom:2px;

}
.grou-fechar-pedido .fechar-pedido .finalizar-pedido{
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	padding: 10px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.grou-fechar-pedido .fechar-pedido .finalizar-pedido .btn-voltar{
	display: block;
	border-radius: 3px;
	background-color: var(--black);
	text-align: center;
	padding:7px;
	color:white ;
      border: 0px;
	font-weight: 600;
}
.grou-fechar-pedido .fechar-pedido .finalizar-pedido .btn_finalizar_pedido{
	background-color: var(--yellow);
	padding:5px;
	width: 100%;
	display: block;
	text-align: center;
	border-radius: 5px;
	color:white;
	font-weight: 500;
	margin-bottom:10px ;
   border: 0px solid;
	
}

/*adicioar informacao do produto*/
.add-infor-prod{

	width: 100%;
	max-width: 900px;
	padding: 50px;
	margin: 0 auto;

	position: relative;
}
.add-infor-prod .form{
	margin: 0 auto;
	width: 100%;
}



.add-infor-prod .prod{
	padding-bottom: 20px;
	text-align: center;
	position: relative;
}

.add-infor-prod  .back{
	position: absolute;
	right: 50px;
	z-index: 5;
}

.add-infor-prod .prod .img{
	margin: 0 auto;
	text-align: center;
}

.add-infor-prod .prod img{
	width: 100px;
	text-align: center;

	margin: 0 auto;
}
.add-infor-prod .prod p{
	margin-top: 15px;
	font-weight: 600;
	font-size: 1.2em;
}
.add-infor-prod .form form{
	margin: 0 auto;
}
.add-infor-prod .form label{
	font-weight: 400;
}

.add-infor-prod .form form input{
	width: 100%;
}

.add-infor-prod hr{
	margin-top: 0px;
}

.add-infor-prod .form form button{
	padding: 5px;
	display: block;
	width: 100%;
	border-radius: 2px;
	background-color: var(--yellow);
	color: white;
	font-weight: 500;
}

/*usaurio sem login entrar no carrinho*/
.bloco-carrinho .img-login{
	border: 1px solid #efeeee;

	margin: 0 auto;
	border-radius: 50%;
}
.bloco-carrinho .text-login{

	text-align: center;
}
.bloco-carrinho .text-login p{
	font-weight: 600;
	font-size: 1.3em;
	margin-bottom: 20px;
}
.bloco-carrinho .text-login a{
	
	background-color: var(--yellow);
	padding:5px 40px;
	border-radius: 4px;
	color:#2b2b2b;
}

/*usaurio sem produtos no carinho*/
.bloco-carrinho .img-carrinho-vazio{
	margin: 0 auto;
	border-radius: 50%;
	text-align: center;
}
.bloco-carrinho .img-carrinho-vazio p{
	font-weight: 600;
	font-size: 1.4em;
	margin-bottom: 15px;
}

.bloco-carrinho .img-carrinho-vazio a{
	padding: 5px 20px;
	color: white;
	background-color: var(--yellow);
	border-radius: 5px;
	font-weight: 600;

}
.bloco-carrinho .img-carrinho-vazio a:hover{
	filter: grayscale(5%);
}



/*usaurio sem produtos no carinho*/
.bloco-carrinho-fechar{
	margin: 0 auto;
}
.bloco-carrinho-fechar .img-carrinho-vazio{
	margin: 0 auto;
	border-radius: 50%;
	text-align: center;

}
.bloco-carrinho-fechar .img-carrinho-vazio p{
	font-weight: 600;
	font-size: 1.4em;
	margin-bottom: 15px;
}

.bloco-carrinho-fechar .img-carrinho-vazio a{
	padding: 5px 20px;
	color:white;
	background-color: var(--yellow);
	border-radius: 5px;
	font-weight: 600;

}
.bloco-carrinho-fechar .img-carrinho-vazio a:hover{
	filter: grayscale(5%);
}

/*Solicitacoes*/

.bloco-principal{
max-width: 1100px;
margin: 0 auto;
width: 100%;
position: relative;
}
.bloco-principal .bloco-1-1{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid;
}
#bloco-sub-principal{
max-width: 1100px;
margin: 0 auto;
width: 100%;
}
.bloco-principal .bloco-1-1 {
	padding: 7px;
	margin-bottom: 15px;
	border: 0px;
}

.bloco-principal .bloco-1-1 .form-solicitacao{
margin: 0px auto;
}

.form-solicitacao .cx-pesquisa-solicitacao{
outline: none;
border: none;
border-radius: 3px;
margin-right: -5px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
background-color: white;
padding-left:10px;
width: fit-content;
margin: 0 auto;
padding: 7px;
}

.form-solicitacao .cx-pesquisa-solicitacao button{
	width: 50px;
	border: none;
	background-color: white;
	background-color: none;
}


.form-solicitacao .cx-pesquisa-solicitacao input{
	outline: none;
	border: 0px;
	width: 300px;
}
.form-solicitacao .cx-pesquisa-solicitacao input::placeholder{
	font-size: 0.9em;
}
.result_consulta hr{
	margin: 10px 0px;
}
.bloco-cnj-solicitacao{
	margin-top: 10px;
	position: relative;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}

.bloco-cnj-solicitacao .cancelado_text{
padding: 5px;
width: 50%;
position: absolute;
transform: rotate(8deg);
right: 0px;
top: 38%;
text-align: center;
background-image: radial-gradient(circle at 50% -20.71%, #ff7f49 0,
 #ff6f46 16.67%, #fe5942 33.33%, #f23c3c 50%, #e50b37 66.67%,
  #db0036 83.33%, #d20038 100%);
  border-radius: 3px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  opacity: 0.8;
}

.bloco-cnj-solicitacao nav{
	width: 50%;
}

.bloco-cnj-solicitacao nav ul{
	list-style: none;
}

.bloco-cnj-solicitacao nav ul li{
font-size: 1.0em;
font-weight: 400;
}

.bloco-cnj-solicitacao nav ul li .texto{
display: block;
}


.bloco-cnj-solicitacao .btn-gerar-doc{

width: 50%;
padding: 5px;

}
.bloco-cnj-solicitacao .btn-gerar-doc .btn-1{
text-align: center;
padding:5px;

}
.bloco-cnj-solicitacao .btn-gerar-doc .btn-1 a{
border: 1px solid #ccc;
width: 100%;
display: block;
padding:5px;
border-radius: 3px;

}



.bloco-cnj-solicitacao nav .bloco-pdf{

	display: flex;
	flex-wrap: wrap;
	width:fit-content;
}

.bloco-cnj-solicitacao nav .bloco-pdf {

	height: fit-content;
	text-align: center;
}
.bloco-cnj-solicitacao nav .bloco-pdf .bloco-pdf-1{

	padding: 5px;
}
.bloco-cnj-solicitacao nav .bloco-pdf .bloco-pdf-1 i{
	font-size: 1.5em;
	margin: 0 auto;
	text-align: center;
}
.bloco-cnj-solicitacao nav .bloco-pdf .bloco-pdf-1 p{
	font-size: 0.8em;
	margin: 0px;
}
.info a{
	cursor: pointer;
}


/* From uiverse.io by @martinval9 */
/* Hide the default checkbox */
.blco-produto .container input {

	opacity: 0;

   }
   
  .blco-produto .container {


	cursor: pointer;
	font-size: 14px;
	user-select: none;

 
   }
   .blco-produto .container a{
	font-weight: 400;
	color: #2b2b2b;
   }
   
   .blco-produto .btn-add-informacao{
	width: fit-content;
	color:var(--yellow);
	font-size: 1em;
	border-radius: 3px;
	font-weight: 500;
	
   }


   .blco-produto .excluir{
	width: fit-content;
	color:var(--yellow);
	font-size: 1em;
	border-radius: 3px;
	font-weight: 500;

   }

   /* Create a custom checkbox */
   .checkmark {
	position: relative;
	top: 0;
	left: 0;
	height: 1.3em;
	width: 1.3em;
	background-color: #ccc;
	border-radius: 25px;
	transition: 0.15s;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container input:checked ~ .checkmark {
	background-color: limegreen;
	border-radius: 25px;
	transition: 0.15s;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
	content: "";
	position: absolute;
	display: none;
   }
   
   /* Show the checkmark when checked */
   .container input:checked ~ .checkmark:after {
	display: block;
   }
   
   /* Style the checkmark/indicator */
   .container .checkmark:after {
	left: 0.45em;
	top: 0.25em;
	width: 0.25em;
	height: 0.5em;
	border: solid white;
	border-width: 0 0.15em 0.15em 0;
	transform: rotate(45deg);
   }





   /* Style the tab  */
.tab {
	overflow: hidden;

  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0px 16px;
	transition: 0.3s;
	font-size: 1.1em;
font-weight: 500;
	width: fit-content;
  }
  

  /* Create an active/current tablink class */
  .tab button.active {
	border-bottom:1px solid var(--yellow);
  }
  
  /* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border-top: none;
}


/*aba minha conta*/
.tabcontent .form {

padding: 20px;
display: flex;
flex-wrap: wrap;
}
.tabcontent .form .form-column .bloco-left{
display: flex;
flex-wrap: wrap;
}

.tabcontent .form .form-column .input{
display: block;
padding: 5px;
margin: 0 auto;
	
}
.tabcontent .form .form-column label{
font-weight: 400;
}

.tabcontent .form .form-column .input input{
display: block;
width: 100%;
border-radius: 3px;
padding:5px;
border: 1px solid var(--bordar);
outline: none;
}

.tabcontent .form .form-column .bloco-right{
	border-left: 1px solid var(--bordar);
margin: 0 auto;
padding: 20px;
width: 100%;
}

.tabcontent .form .form-column .bloco-right .upload {
margin: 0 auto;
text-align: center;

margin-top: 10px;
}
.tabcontent .form .form-column .bloco-right .upload input{
margin: 0 auto;
}
.tabcontent .form .form-column .bloco-right .logo{
width: 130px;
height:130px;
border-radius: 50%;
margin: 0 auto;
position: relative;

}
.tabcontent .form .form-column .bloco-right .logo img{
object-fit: cover;
object-position: center;
border-radius: 50%;
transition: 0.2s all ease-out;
position: absolute;
border: 1px solid var(--bordar);
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0.8;

}


.form-column .upload form p{
	color: #a2a2a2;
}