@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
  font-family:'montserrat';
  src: url(../fonts/Montserrat-VariableFont_wght.ttf) format('opentype');
  font-style:normal;
}
body{
margin:0;
 /* font-family:'noto sans',sans-serif;  */
font-family: montserrat;
font-weight: 500;
box-sizing: border-box;
background: rgba(252, 172, 3, 0.55);
background: -webkit-linear-gradient(0deg, rgba(252, 172, 3, 0.55) 0%, #fcac1e 100%);
background: linear-gradient(0deg, rgba(252, 172, 3, 0.55) 0%, #fcac1e 100%);
}

:root {
	--yellow: rgba(252, 172, 44);
  --subtitulo: rgb(56, 56, 56);
}


/* 
animacao */
@keyframes moveToTop {
	0% {
		transform: translateY(100px);
	}

	100% {
		transform: translateY(0);
		opacity: 0.8;
	}
}

@keyframes moveToleft {
	0% {
		transform: translatex(100px);
	}

	100% {
		transform: translatex(0);
		opacity: 1;
	}
}


@media screen and (min-width:1000px) {
.card-login {

}

.main-login{
padding: 10%;
}

.login-left{
margin: 0 auto;
}

.login-right{
    margin: 0 auto;
}

.card-login .formulario-top h3{
font-size:2vw;
}
.login-left .left-login-img{
width: 33vw;
}
#form-cadastro .group-right{

  width: 33vw;
}

}



@media  screen and (max-width:950px) {
	.main-login{
   flex-direction: column;
	}
    .login-left h1{
        display: none;
    }
    .login-left{
        width: 100%;
        height: auto;
    }
    .login-right{
        width: 100%;
        height: auto;
        margin-top: 20px;
   
    }
    .card-login{

        width: 100%;
        padding: 0px;
      
    }
    .card-login .formulario-top h3{
  
        font-size:4vw;
       
    }
    .login-left .left-login-img{
        width: 50vw;
        
    
    }
  
}

.main-login{
    
    display: flex;
    justify-content: center;
    align-items: center;

 
}

.login-left{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.login-left .left-login-img{
    animation: moveToleft  0.7s 0.1s forwards;
    opacity: 0;
}
.login-left > h1{
    font-size: 1.8vw;
    filter: saturate(20%);
	filter: drop-shadow(0px 1px 100px rgb(246, 246, 34));
    color: #262626;
    font-weight: 600;
    float: left;
    opacity: 0;
    animation: moveToTop 0.7s 0.1s forwards;

}


.login-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.card-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 40px;
    background-color: #f3f3f3;
	border-radius: 15px;
    box-shadow: 0px 10px 40px #faec2756;
    
    
    
}
.card-login .formulario{

}
.card-login .formulario-top{
    text-align: center;padding-bottom: 20px;
}

.card-login .formulario-top h3{
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    filter: saturate(20%);
	filter: drop-shadow(0px 1px 100px rgb(246, 246, 34));
    color: #b8b8b8;


   
}

#formulario_login{

}

.formulario form input{
border: 0px;
padding-right: 25px;
transition: all 0.3s ease-in-out;
background-color:unset;
color: rgb(18, 18, 18);
font-size: 0.8em;
}

.formulario form input::placeholder{
color:#858585;
font-weight: 400;
}

.formulario form input:focus{
box-shadow: 0 0 0 0;
border: 0 none;
outline: 0;
background-color: unset;
color: rgb(111, 111, 111);

}


.input-group{
border: 1px solid #d7d7d7;
}


.formulario form .input-group-text{
background-color:unset;
border: 0px;
color: rgb(94, 94, 94);
}


.formulario form #btn_login{
margin-top: 20px;
padding:5px 20px;

border: 0px;
width: 100%;
background: var(--yellow);

}
.formulario form #btn_login:disabled{
background:#262626;
}

.formulario form #btn_login:hover{
background: var(--yellow);
}

.formulario form #btn_login:focus{
box-shadow: none;
background: var(--yellow);
}

.form-control {
border-radius: 0px;
background-color: unset;
}
.form-control:hover{
background-color: unset;
}

.formulario .form-check{
color: white;
cursor:pointer;
margin-left: 10px;
color: rgb(173, 173, 173);
font-size: 0.8em;

}


 .sub-form a{
text-decoration: none;
color: #838383;
font-size: 0.8em;
 }

 .sub-form .senha-esqueci p{
    margin-top: 8px;

 }

 .sub-form .cadastrar p{
    text-align: center;
    font-size: 0.8em;
    color: #838383;
 }

 .sub-form .cadastrar a{
    font-size: 1.2em;
    color: var(--yellow);
    font-weight: 500;
 
 }

 #hidden{
   display: none;
 }

 #mostrar_senha{
    position: absolute;
    right: 5px;
    top: 12px;
    color: #838383;
    cursor: pointer;
    z-index: 5;
 }


 /* Style the tab */
.bloco-1{
  padding: 40px 0px;
}
.tab {
    overflow: hidden;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 auto;

   
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 8px;
    transition: 0.3s;
    font-size: 0.9em;
    color:#868686;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(228, 228, 228);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 1vw;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    width:fit-content ;
    margin: 0 auto;
  }

  #form-cadastro form{
    display: flex;
    flex-wrap: wrap;
  }

  #form-cadastro .group-left{
    border: 1px solid #b8b8b8;
    display: block;
    margin: 5px;
    border-radius: 5px;
  }
  #form-cadastro #grupo-opcao{
    display: block;
    padding: 10px;
  }
  #form-cadastro .group-right{
    border: 1px solid #b8b8b8;
    display: block;
    margin: 5px;
    border-radius: 5px;
    
  }

  #form-cadastro .group-input{
    display: flex;
    flex-wrap: wrap;

  }
  #form-cadastro .group-input .input{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    
}
  #form-cadastro .group-input .input input,select{
    display: block;
    border-radius: 3px;
    border: 1px solid #b8b8b8;
    padding: 8px;
    font-size: 0.9em;
    margin: 10px;
    
  
  }
  #form-cadastro .group-input .input #email,#senha{
    width:50%;
   
  }

  #form-cadastro .group-input .input i{
    position: absolute;
    right: 50%;
    z-index: 5;
    top: 20px;
  }
  #form-cadastro .group-input .input label{
    display: flex;
    height: fit-content;
  }
  
  #form-cadastro .group-input .input .obg{
    display: flex;
    height: fit-content;
    color: #838383;
    font-size:0.9em;
    padding: 0px;
  }

  #form-cadastro .group-input .input input,select:focus{
    outline: none;
  }

  #form-cadastro .group-input .input input::placeholder{
font-size: 0.8em;
  }

  #form-cadastro #btn_cadastrar{
    margin-top: 20px;
    padding:5px 20px;
    background: var(--yellow);
    border: 0px;
  

  }
  #form-cadastro #btn_cadastrar:focus{

    box-shadow: none;
  }


  .login_ir{
   text-align:right;
   padding: 7px;
  }
  .login_ir p{
    color: #838383;
  }

.tabcontent p{
  font-size:0.9em;
  color:var(--subtitulo);
}