p{
    text-align: center;
    
}

#dadosCotacao tr td{
    width: 475px;
}

#dadosCliente tr td{
    width: 475px;
}



#cabecalho p {
    text-align: center;
    border: 1px solid;
    margin-top: 40px;
}

div#lista{
    border: 1px solid;
    width: 100%;
    margin-top: 2px;
  
}

div#dadosCliente{
padding-top: 20px;
}

div#dadosProduto{
    padding-top: 20px;
}

#dadosProduto table tr{

  
}

#produto{
    width: 100%;
    border-collapse:collapse;
    background-color: rgba(107, 107, 107,0.3);
}